.skills__titulo{
    margin: 32px 0;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

@media screen and (max-width: 768px) {
    .skills__titulo{
        margin: 15px 0;
        font-size: 20px;
    }
}