.sobre-mi__titulo{
    width: calc(100% - 20%);
    margin: 0 auto;
    padding: 3.5% 0 2% 0;
    font-size: 32px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .sobre-mi__titulo{
        font-size: 20px;
        width: calc(100% - 5%);
    }
}