.formacion-academica__tarjeta{
    height: 286px;
    background-color: #FFFFFF;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .formacion-academica__tarjeta{
        margin: 2% 0;
    }
}