.descripcion__estudios{
    margin: 2.5% 0;
    font-size: 22px;
    font-weight: regular;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .descripcion__estudios{
        font-size: 12px;
    }
}